html, body { 
	
	background-color: white;
	margin: 0;
	padding: 0;
	height: 100%; 
}

#Content {
	
	border: inset;
	border-color:#98bf21;
	background-color: yellow; 
	width: 80%; 
	margin: auto; 
	min-height: 100%; 
	height:auto !important; 
	height:100%; 
	overflow: hidden !important; 
}
	

	
	


